<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>planet</key>
		<string>Mercury</string>
		<key>moons</key>
		<array/>
	</dict>
	<dict>
		<key>planet</key>
		<string>Venus</string>
		<key>moons</key>
		<array/>
	</dict>
	<dict>
		<key>planet</key>
		<string>Earth</string>
		<key>moons</key>
		<array>
			<string>Luna</string>
		</array>
	</dict>
	<dict>
		<key>planet</key>
		<string>Mars</string>
		<key>moons</key>
		<array>
			<string>Deimos</string>
			<string>Phobos</string>
		</array>
	</dict>
	<dict>
		<key>planet</key>
		<string>Jupiter</string>
		<key>moons</key>
		<array>
			<string>Pasiphae</string>
			<string>Carme</string>
			<string>Metis</string>
			<string>Elara</string>
			<string>Thebe</string>
			<string>Himalia</string>
			<string>Amalthea</string>
			<string>Europa</string>
			<string>Io</string>
			<string>Ganymede</string>
			<string>Callisto</string>
		</array>
	</dict>
	<dict>
		<key>planet</key>
		<string>Saturn</string>
		<key>moons</key>
		<array>
			<string>Atlas</string>
			<string>Telesto</string>
			<string>Pan</string>
			<string>Janus</string>
			<string>Epimetheus</string>
			<string>Prometheus</string>
			<string>Pandora</string>
			<string>Helene</string>
			<string>Iapetus</string>
			<string>Dione</string>
			<string>Tethys</string>
			<string>Enceladus</string>
			<string>Mimas</string>
			<string>Hyperion</string>
			<string>Phoebe</string>
			<string>Titan</string>
			<string>Rhea</string>
		</array>
	</dict>
	<dict>
		<key>planet</key>
		<string>Uranus</string>
		<key>moons</key>
		<array>
			<string>Titania</string>
			<string>Oberon</string>
			<string>Umbriel</string>
			<string>Ariel</string>
			<string>Miranda</string>
			<string>Sycorax</string>
			<string>Puck</string>
			<string>Portia</string>
			<string>Juliet</string>
			<string>Caliban</string>
			<string>Belinda</string>
			<string>Cressida</string>
		</array>
	</dict>
	<dict>
		<key>planet</key>
		<string>Neptune</string>
		<key>moons</key>
		<array>
			<string>Sao</string>
			<string>Neso</string>
			<string>Triton</string>
			<string>Proteus</string>
			<string>Nereid</string>
			<string>Larissa</string>
			<string>Galatea</string>
			<string>Despina</string>
			<string>Thalassa</string>
			<string>Naiad</string>
			<string>Halimede</string>
		</array>
	</dict>
</array>
</plist>
